@{
    ViewData["Title"] = "Home Page";
}
@if (!(User.Identity.IsAuthenticated))
{
    <div class="text-center">
        <h1 class="display-4">Razvan's website</h1>

    </div>
    <div style="margin-top:2px" class="text-center">
        <h4 style="color:red">Vă rugăm să vă logați pentru a accesa pagina dorită</h4>
        <p style=" color:red">(Utilizați butonul Login din meniu sau click <a href="/Identity/Account/Login" target="_blank">aici</a>)</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Razvan's website</h1>
        <h4>Bun venit @User.Identity.Name</h4>
    </div>
}

@if ((User.Identity.IsAuthenticated))
{
@if (User.Identity.Name == "razvanioan.andrei22@gmail.com")
{
    <div class="text-center">
        <h6>Sunteti logat ca Administrator</h6>
    </div>
}
else
{
<div class="text-center">
    <h6>Sunteti logat ca User</h6>
</div>
}
}